# Python
__pycache__/
*.py[cod]
*.sqlite3
*.env

# Django static/media
/media/
/static_root/   # add this so collectstatic output is never tracked

# Virtualenv
venv/
biz_env/
.venv/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace
